/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Resto do seu código CSS */
body {
  font-family: 'Lato', sans-serif;
}

.leaflet-top {
  top: 600px !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 100px;
}

@media screen and (max-width: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  #modal {
    max-width: 350px !important;
    min-height: 400px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50% !important;
    top: 54% !important;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 80vh;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    overflow: auto;
  }
}

/* Add .accordion-flush to remove the default background-color, some borders, and some rounded corners to render accordions edge-to-edge with their parent container. */
.accordion-flush .accordion-item {
  background-color: #fff;
}

.accordion-button {
  background-color: #8d2626;
  color: #212218;
}

#mapid {
  height: 98.9vh;
  width: 98.9vw;
  z-index: 0;
}

/* Style with blue h1 */
h1 {
  color: #2196f3;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

/* Create an style for show lat and long, thats really beautifull, for an h2 */
h2 {
  color: #631597;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

#imagem {
  background-image: url('./a.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.my-label {
  background-color: transparent !important;
  color: red !important; /* Altere a cor do texto conforme necessário */
  font-size: 14px !important; /* Altere o tamanho da fonte conforme necessário */
  font-weight: bold !important; /* Altere a espessura da fonte conforme necessário */
  text-align: center !important; /* Alinhe o texto conforme necessário */
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Estilo para o botão */
.utfpr-button {
  width: 150px;
  height: 40px;
  display: inline-block;
  padding: 6px 12px;
  background-color: #ffbd59; /* Cor da UTFPR */
  color: #ffffff; /* Cor do texto (branco) */
  font-size: 14px;
  border: none;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 1.5px;
}

.utfpr-button:hover {
  background-color: hsl(
    40,
    100%,
    70%
  ); /* Cor da UTFPR quando o mouse passa por cima */
}

.popup-content {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  width: 150px;
  color: #212218; /* Cor do texto */
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #ffffff !important;
}

.leaflet-popup-close-button {
  margin-top: 3px !important;
  color: #212218 !important;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 30px;
}

body {
  position: relative;
  overflow: hidden;
}

.search-container {
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 998;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

#search-button:hover {
  background-color: #45a049;
}

#search-results {
  margin-top: 20px;
}

/* search-response deixar destacado acima de tudo no canto inferior esquedo */
.search-response {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  max-width: 300px;
}

#modal {
  min-height: 400px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 19%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 80vh;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: auto;
}

#modal-content {
  margin-bottom: 20px;
}

#modal-image,
#modal-image-floor {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
